{% extends "layouts/base.html" %}
{% load static %}

{% block title %} HTML5 Links {% endblock title %}

{% block content %}
<div class="links-container">
    <a href="https://www.qu.edu.qa" class="link-style " target="_blank">Go to QU website (open a new tab)</a>
    <a href="https://www.qu.edu.qa" class="link-style">Go to QU website (open in the same page/tab)</a>
    <a href="https://www.qu.edu.qa" class="link-style" id="link3">Go to QU website (open in the same page/tab)</a>
</div>
{% endblock content %}
